*{
    box-sizing: border-box !important;
    margin: 0 ;
}
#logo{
    width: 140px;
}
a{
    text-decoration: none !important;
}
p{
    margin: 0 !important;
}
header{
    z-index: 100;
}
.header-naw{
    z-index: 10;
}
.search-div{
    background-color: #c6c6c680;
    border:1px solid #a1a1a180 !important;
    .search-input:focus{
        border: none !important;
        outline: none !important;
        
    }
    .search-input{
        background-color: #e4e3e380;
        border: none
    }
}
.top-number{
    margin-top: -1rem;
    margin-left: -1rem;
    border-radius: 50%;
    width: 15px;
    height:15px;
    font-size: 10px;
    align-items: center;
}
.header-bottom-card:hover{
  color:#ffc107;
}
.header-naw-hover-hr{
    padding: 0.1rem;
    margin-top: 1rem !important;
}
.header-naw-three:hover{
    h6{
        color: #ffc107;
    }
    .header-naw-hover-hr{
    background-color: #ffc107;
}
}
.login{
    height: 100vh;
    background-image: url('/bg.jpg');
    background-size: cover;
    .login-card{
        background-color: rgba(132, 130, 125, 0.483);
        border: none !important;
    }
}
.main{
    background-image: url('/home-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    .main-div{
        background-color: #040d08c2;

    }
}
.section-last{
    background-image: url('/bg-section.png');
    background-repeat: no-repeat;
    background-size: cover;
    .section-last-div{
        background-color: #040d0856;

    }
}
.hero{
    .card-shadow img{
        height: 10rem;
    }

}
.fresh-product{
    background-image: url('/home-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    .fresh-product-div{
        background-color: #040d08c2;

    }
}
.card-shadow{
    box-shadow: 1px 1px 12px 1px rgb(165, 163, 163);
}
.cart-title:hover{
    color: #ffc107;
    text-decoration: underline;
}
.card-category-hr{
    padding: 0.1rem;
    width: 4rem;
    background-color: #ffc107;
}
.card-category-img{
    width: 3rem;
}
.dropdown-active{
    a{
        color:#ffc107 !important;
    }
    p{
        margin-top: 20px !important;
        padding: 0.1rem;
        background-color: #ffc107;
    }
}
.dropdown-item-active{
    position: absolute;
    left: 0;
    background-color: black;
    width: 100%;
}
.dropdown-menu{
    p{
        width: 15.5rem !important;
    }
    p:hover{
        color: #ffc107;
        cursor: pointer;
    }
}
.carousel-indicators-div{
    margin-bottom: -1.5rem !important;
}

.accordion-button.collapsed::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
input[type=checkbox]:checked{
    background-color: #ffc107 !important;
    border: 2px solid  #ffc107 !important;
    padding: 5px !important;
    outline: none !important;
    box-shadow: none !important;
}
input[type=checkbox]:active{
    background-color: #ffc107 !important;
    border: 2px solid  #ffc107 !important;
    padding: 5px !important;
    outline: none !important;
    box-shadow:2px 2px 10px 5px #ebd69c !important;
}


select:focus{
    outline: none !important;
}
select option {
  margin: 40px;
  background: black;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}
option:not(:checked) {
  background-color: #fff;
  color: black;
}
option::selection {
  background-color: #fff !important;
  color: black !important;
}

.product-karzinka-card-img{
  height: 23rem;
}

@media screen and (max-width: 800px) {
  header {
    position: sticky !important;
    top: 0 !important;
  }
}


