*{
    box-sizing: border-box !important;
    margin: 0 ;
}
#logo{
    width: 140px;
}
p{
    margin: 0 !important;
}
.search-div{
    background-color: #c6c6c680;
    border:1px solid #a1a1a180 !important;
    .search-input:focus{
        border: none !important;
        outline: none !important;
        
    }
    .search-input{
        background-color: #e4e3e380;
        border: none
    }
}
.top-number{
    margin-top: -1rem;
    margin-left: -1rem;
    border-radius: 50%;
    width: 15px;
    height:15px;
    font-size: 10px;
    align-items: center;
}
.header-bottom-card:hover{
  color:#ffc107;
}
a{
    text-decoration: none !important;
}
.main{
    background-image: url('/home-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    .main-div{
        background-color: #040d08c2;

    }
}
.fresh-product{
    background-image: url('/home-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    .fresh-product-div{
        background-color: #040d08c2;

    }
}
.card-shadow{
    box-shadow: 1px 1px 12px 1px rgb(165, 163, 163);
}
.card-category-hr{
    padding: 0.1rem;
    width: 4rem;
    background-color: #ffc107;
}
.card-category-img{
    width: 3rem;
}

// .header-sm{
//     position: sticky !important;
//     bottom: 0 ;
//     right: 0;
//     left: 0;
//     width: 100%;
// }